{{ attach_library('ucb_campus_news/cuboulder_today_filter_form_loader') }}
<div class="ajax-progress ajax-progress-throbber"><div class="throbber"></div></div>
<script type="text/javascript">cuboulderTodayFilterFormLoader('{{ globalConfig.siteURI }}', '{{ globalConfig.baseURI }}', '{{ data.label }}', '{{ data.path }}', '{{ data.machineName }}', {{ data.configuration|json_encode()|raw }});</script>
