{{ attach_library('ucb_campus_news/ucb-campus-news') }}

{%
	set classes = []
%}

<campus-news{{attributes.addClass(classes)}} rendermethod="{{ data.display }}" filters="{{data.filters|json_encode}}" count="{{data.count}}">
	{# Loading message #}
	<div class="ucb-list-msg ucb-loading-data text-center">
		<i class="fas fa-spinner fa-3x fa-pulse"></i>
	</div>
</campus-news>